* {
  font-family: monaco;
}

body{
  padding: 20px;
  font-size: 1em;
}

.form{
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}

th, td {
   border: 1px solid black;
   padding: 10px;
}

.success{
    margin: 20px 0;
    color: green;
}

.alert{
    color: red;
}
